.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-main {
    margin-bottom: 55px;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.navigation-main {
    float: left;
    width: 540px;
    padding: 0 16px;
    box-sizing: border-box;
}

.user-blog {
    float: right;
    width: 80px;
    padding: 0 16px;
    box-sizing: border-box;
}

.index-logo {
    width: 204px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.feature {
    margin-bottom: 75px;
}

.feature-item {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.feature-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 35px;
    padding: 60px 80px;
}
.index-content-left {
    float: left;
    width: 320px;
}
.index-content-right {
    float: right;
    width: 300px;
}
.footer-main {
    margin-top: 60px;
}

.footer-contact {
    float: left;
    width: 310px;
    margin-right: 90px;
}

.footer-social {
    float: left;
    width: 140px;
}

.footer-copyright {
    float: right;
    width: 140px;
}

.shop-logo {
    float: left;
}
.shop-title {
    margin-bottom: 25px;
}
.breadcrumps {
    margin-bottom: 50px;
}
